@import "./../../styles.scss";

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: url("/assets/img/PatternT.svg"), $color-primary;
  background-attachment: fixed;
  color: floralwhite;
}


section.description {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 8vh 0;

  .socialButtons {
    width: fit-content;
    margin: 50px auto;
    img {
      background-image: linear-gradient(to right, #e96443, #904e95 65%);
      box-shadow: inset -9px -14px 20px #7a427f, inset 9px 7px 20px #e4826c, 0px 0px 5px 0px #726f7f;
      border-radius: 50%;
      padding: 10px;
      margin: 0 20px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.07);
      }
    }
  }

  p {
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    font-size: 2rem;
    text-align: justify;
    span {
      font-weight: bold;
      font-style: italic;
    }
  }
}

img.avatar {
  width: 25vw;
  aspect-ratio: 1;
  margin: auto;
  display: block;
}

section#moreInfo {
  margin: 5vh 30px 5vh;
  display: flex;
  flex-wrap: wrap;

  .softSkills, .leisure {
    display: flex;
    align-items: center;
    width: 40vw;
    margin: 50px auto;
    background: linear-gradient(to right, #904e95, #e96443 28%);
    min-width: 430px;
    div.title {
      padding: 30px;
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ul {
      font-size: 1.4rem;
      margin: 10px;
      padding: 10px;
      width: 75%;
      background: $color-primary;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        list-style: none;
      }
    }
  }
}

h3 {
  font-size: 1.5rem;
}

section#resume {
  background: linear-gradient(to right, #904e95, #e96443 80%);
  width: 90%;
  margin: 0 auto 10vh;
  padding: 10px 0px;

  h3 {
    padding: 20px;
  }

  .training {
    display: flex;
    margin: 0 1%;
    background: $color-primary;

  div {
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 0 0 20px 20px;
    margin: 15px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #f2abad;
      border: 2px solid #f2abad;
    }

    h4 {
      line-height: 18px;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      margin-bottom: 10px;
    }

    span.year {
      font-size: 1.6rem;
      background: rgba(255, 255, 255, 0.15);
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span.school {
      font-style: italic;
      margin-left: 10px;
      font-size: 1.3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}
}

@media screen and (max-width: 768px) {

  section.description {
    p {
      font-size: 1.7rem;
    }
  }
  img.avatar {
    width: 50vw;
  }

  section#moreInfo {
    flex-direction: column;

    .softSkills, .leisure {
      min-width: initial;
      flex-direction: column;
      width: 85vw;
      div.title {
        width: 70%;
      }
      ul {
        width: 90%;
        position: relative;
        bottom: 10px;
      }
    }
  }

  section#resume {
    width: 85%;
    .training {
      margin: 0 4%;
      flex-direction: column;
    div {
      width: 90%;
    }
  }
  }
}
