<div id="about">

  <app-menu></app-menu>

  <section class="description">
    <img class="avatar" src="/assets/img/Avatar.svg" alt="">
    <p></p>
  </section>

  <section class="softSkills">
    <h3>MES SOFT SKILLS</h3>
    <ul>
      <li>Autonomie</li>
      <li>Rigueur</li>
      <li>Curiosité</li>
      <li>Esprit d'équipe</li>
      <li>Et beaucoup d'optimisme 🙂</li>
    </ul>

  </section>

  <section class="leisure">
    <h3>WHAT ELSE ?</h3>

    <p>
      J’écoute de la musique, tout le temps<br>
      Je joue, souvent<br>
      Je fais du yoga, assidûment<br>
      J’évalue des projets pour Time For The Planet, régulièrement
    </p>

  </section>

  <section class="resume">
    <!-- <div class="experience">
      <h3>Expérience</h3>

    </div> -->

    <h3>FORMATIONS WEB</h3>

    <div class="training">
      <div class="ocr">
        <h4>CERTIFICAT PROFESSIONNEL DÉVELOPPEUR WEB</h4>
        <span class="year">2020</span>
        <span class="school">OpenClassRooms</span>

        <p>Formation au développement web par la réalisation de 5 projets en totale autonomie. <br>
          Langages : HTML, CSS, Javascript, PHP, MySQL <br>
          Frameworks : Bootstrap, VueJS, Laravel <br>
          Outils et techniques : Wordpress, API REST, Programmation Orientée Objet, Architecture MVC, GitHub
        </p>
      </div>

      <div class="cdr">
        <h4>CERTIFICAT EN RÉDACTION WEB SEO</h4>
        <span class="year">2019</span>
        <span class="school">Le Comptoir des Rédacteurs</span>

        <p>Formation aux techniques de création de contenus écrits pour le web et optimisés pour le référencement naturel des moteurs de recherche.</p>
      </div>
    </div>

  </section>
</div>
