:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: url("/assets/img/PatternT.svg"), #242432;
  background-attachment: fixed;
  color: floralwhite;
}


section.description {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 15vh 0;

  .avatar {
    position: absolute;
    top: 100%;
    left: 35%;
    width: 300px;
    opacity: 0.5;
    pointer-events: none;
    aspect-ratio: 1;
    background-size: cover;
    background-image: url('/assets/img/photos/profile-pic.png');

    transition: all 0.5s ease-out;
  }

  p {
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    font-size: 1.3rem;
    text-align: justify;
    span {
      font-weight: bold;
      font-style: italic;
    }
  }
}

section#moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 50px 30px;

  .softSkills, .leisure {
    width: 30vw;
    ul {
      font-size: 0.9rem;
      li {
        margin: 10px 0;
      }
    }
  }
  .leisure {
    text-align: end;
    ul {
      li {
        list-style: none;
      }
    }
  }
}

.training {
  display: flex;
  margin: 0 30px;

  div {
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: pink;
      border: 2px solid pink;
    }

    h4 {
      color: pink;
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      margin-bottom: 10px;
    }

    span.year {
      font-size: 16px;
      background: rgba(255, 255, 255, 0.15);
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span.school {
      font-style: italic;
      margin-left: 10px;
    }

    p {
      font-size: 0.85rem;
    }
  }
}
