<div id="projectsListPage">

  <div id="listOfProjects" #listOfProjects>
    <div class="projectCard" *ngFor="let project of list">
      <div class="devCategory">
        <span *ngFor="let item of project.development">{{item}}</span>
      </div>
      <img [src]="project.images.main" alt="">
      <a [routerLink]="['/portfolio', project.path]">{{project.name}}</a>
    </div>
  </div>

  <section id="nav">
    <div id="progressionBar">
      <div id="fixePart" #fixePart></div>
      <div id="growingPart" #growingPart></div>
    </div>
    <div id="buttonsNav">
      <button (click)="navBack()" type="button">
        <span class="material-icons">arrow_back</span>
      </button>
      <button (click)="navNext()" type="button">
        <span class="material-icons">arrow_forward</span>
      </button>
    </div>
  </section>

</div>
