@import "./../../../styles.scss";

:host {
  display: block;
  // background: $color-primary;
  // background: #062029;
  // background: black;
  background: url("./../../../assets/img/PatternT.svg"), #383840;
  background-attachment: fixed;
  color: floralwhite;
}

button.close {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 50%;
  color: floralwhite;
  border: none;
  background: #464646;
  opacity: 0.4;
  transition: opacity 0.5s;
  span {
    font-size: 35px;
  }
  svg {
    position: absolute;
    left: -5%;
    top: -9%;
    z-index: 1200;
    width: 110%;
    height: 110%;
    circle {
      stroke-width: 5px;
    }
  }
  &:hover {
    opacity: 1;
  }
}

section#hero {
  position: relative;
  h2 {
    position: absolute;
    right: 18%;
    top: 6%;
    z-index: 10;
    font-family: $font-titles;
    font-size: 128px;
    // color: #f59a82;
    color: antiquewhite;
    text-shadow: 2px 4px 8px rgb(0 0 0 / 50%);
  }
  span {
    position: absolute;
    right: 10px;
    top: 46%;
    font-size: 1.5rem;
    color: antiquewhite;
    &::before {
      content: "";
      width: 400%;
      height: 2px;
      position: inherit;
      right: 0;
      top: -5px;
      background: linear-gradient(to right, #904e95 51%, #e96443 100%);
    }
  }
  #imgHero {
    display: block;
    width: 50%;
    margin-left: 20%;
    // padding-top: 10%;
    overflow: hidden;
    box-shadow: 2px 2px 10px 11px #292929;
    img {
      width: 100%;
      transition: transform 1s;
      transition-timing-function: cubic-bezier(0.25,0.74,0.22,0.99);
    }
    &:hover img {
      transform: scale(1.05);
    }
  }
}

section#description {
  margin: 80px auto;
  padding: 0 10%;
  h3 {
    font-family: 'Poiret One', sans-serif;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    line-height: 2;
  }
  #descFunctionalities {
    h3 {
      text-align: right;
    }
  }
}

section#responsive {
  margin: 50px auto;
  width: 85%;
  height: 500px;
  display: flex;
  position: relative;
  .text {
    width: 40%;
    position: relative;
    p {
      background: linear-gradient(to right, #904e95 51%, #e96443 100%);
      box-shadow: 2px 2px 12px 2px #2e2e2e;
      position: absolute;
      left: 15%;
      top: 50%;
      z-index: 10;
      height: 45%;
      width: 100%;
      // margin: 10%;
      font-family: 'Poiret One', sans-serif;
      font-size: 4rem;
      line-height: 1.5;
    }
  }
  .slider-dots {
    height: 100%;
    position: absolute;
    z-index: 10;
    right: -5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .dot {
      width: 4rem;
      height: 4rem;
      // background: white;
      // color: #0B3948;
      // border: 5px solid $color-primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      color: #4f4f4f;
      border: none;
      background: #383840;
      box-shadow:  10px 10px 20px #28282e,
                  -10px -10px 20px #484852;
      &.active {
        // background-color: $color-primary;

      background: radial-gradient(#e96443 20%, #904e95 70%);
        // color: white;
        color: floralwhite;
      }
      span {
        font-size: 2rem;
      }
    }
  }
  .slider {
    width: 50%;
    position: relative;
    overflow: hidden;
    #wrapper {
      display: flex;
      width: 300%;
      height: 100%;
      background: white;
      animation: responsiveSliderAnim 6s ease-in-out infinite alternate;
      // transition: transform 2s;
      transform: translateX(-66.66%);
      .imgResponsive {
        // position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: white;
        img {
          max-width: 75%;
          max-height: 75%;
        }
      }
    }
  }
}

@keyframes responsiveSliderAnim {
  0% {transform: translateX(0);}
  50% {transform: translateX(-33%);}
  100% {transform: translateX(-66%);}
}

section#footer {
  position: relative;
  height: 170px;
  .navOtherProject {
    display: flex;
    position: absolute;
    &.nextProject {
      right: 0;
    }
    button {
      width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      span {
        font-size: 4rem;
      }
    }
    img {
      width: 10vw;
    }
  }
}
