<div id="projectPage">

  <button routerLink="/portfolio" class="close">
    <span class="material-icons">close</span>
    <svg viewBox="-5 -5 80 80" width="70" height="70" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="myGradient">
          <stop offset="0%"   stop-color="#904e95" />
          <stop offset="100%" stop-color="#e96443" />
        </linearGradient>
      </defs>
      <circle cx="35" cy="35" r="34.8" fill="none" stroke="white" class="bg-svg"/>
      <circle cx="35" cy="35" r="34.8" fill="none" stroke="url(#myGradient)" pathLength="1" id="filledSvg" [attr.stroke-dashoffset]="strokeDashoffset" #filledSvg/>
    </svg>
  </button>

  <section id="hero">
    <h2>{{projectDetails.name}}</h2>
    <span>{{projectDetails.date}}</span>
    <div id="imgHero">
      <img [src]="projectDetails.images.main" alt="image du site {{projectDetails.name}}">
    </div>
  </section>

  <section id="tools">
    <h3>les outils</h3>
    <div id="toolsList">
      <span *ngFor="let item of projectDetails.tools">{{item}}</span>
    </div>
  </section>

  <div id="scroller">

    <section id="description">
      <div id="descProject">
        <h3>le projet</h3>
        <p [innerHTML]="projectDetails.goal"></p>
      </div>
    </section>

    <section id="objectives">
      <div id="descFunctionalities">
        <h3>les objectifs</h3>
        <ul>
          <li *ngFor="let item of projectDetails.objectives">{{item}}</li>
        </ul>
      </div>
    </section>

    <section id="responsive">
      <div class="wrapper">
        <div class="text">
          <p>un site responsive</p>
        </div>
        <div class="slider-dots">
          <button class="dot active"><span class="material-icons">computer</span></button>
          <button class="dot"><span class="material-icons">tablet_mac</span></button>
          <button class="dot"><span class="material-icons">phone_iphone</span></button>
        </div>
        <div class="slider">
          <div id="wrapper" #wrapper>
            <div class="imgResponsive">
              <img [src]="projectDetails.images.desktop" alt="Site {{projectDetails.name}} sur desktop">
            </div>
            <div class="imgResponsive">
              <img [src]="projectDetails.images.tablet" alt="Site {{projectDetails.name}} sur tablette">
            </div>
            <div class="imgResponsive">
              <img [src]="projectDetails.images.mobile" alt="Site {{projectDetails.name}} sur mobile">
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <section id="footer">
    <div *ngIf="pathOfPreviousProject" class="previousProject navOtherProject">
      <button [routerLink]="['/portfolio', pathOfPreviousProject]" (click)="changeProject()"><span class="material-icons">navigate_before</span></button>
      <img [src]="imgOfPreviousProjectUrl" alt="Image du projet précédent">
    </div>
    <div *ngIf="pathOfNextProject" class="nextProject navOtherProject">
      <img [src]="imgOfNextProjectUrl" alt="Image du projet suivant">
      <button [routerLink]="['/portfolio', pathOfNextProject]" (click)="changeProject()"><span class="material-icons">navigate_next</span></button>
    </div>
  </section>

</div>
