@import "./../../../styles.scss";

:host {
  display: block;
  // background: $color-primary;
  // background: #062029;
  // background: black;
  background: url("./../../../assets/img/PatternT.svg"), #242432;
  background-attachment: fixed;
  color: floralwhite;
}

button.close {
  width: 62px;
  height: 62px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  color: floralwhite;
  border: none;
  outline: none;
  background: #242432;
  box-shadow: 0px 0px 8px 0px black;
  opacity: 0.4;
  transition: all 0.3s ease;
  span {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  .bg-svg {
    stroke-width: 2;
    stroke: white;
  }
  #filledSvg {
    stroke-width: 3;
    stroke-dasharray: 1;
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    opacity: 1;
  }
}

section#hero {
  position: relative;
  h2 {
    position: absolute;
    right: 18%;
    top: 6%;
    z-index: 10;
    font-family: $font-titles;
    font-size: 128px;
    // color: #f59a82;
    color: antiquewhite;
    text-shadow: 2px 4px 8px rgb(0 0 0 / 50%);
  }
  span {
    position: absolute;
    right: 10px;
    top: 46%;
    font-size: 1.5rem;
    color: antiquewhite;
    &::before {
      content: "";
      width: 400%;
      height: 2px;
      position: inherit;
      right: 0;
      top: -5px;
      background: linear-gradient(to right, #904e95 51%, #e96443 100%);
    }
  }
  #imgHero {
    display: block;
    width: 50%;
    margin-left: 20%;
    // padding-top: 10%;
    overflow: hidden;
    box-shadow: 0px 4px 12px 4px #26262a;;
    img {
      width: 100%;
      transition: transform 1s;
      transition-timing-function: cubic-bezier(0.25,0.74,0.22,0.99);
    }
    &:hover img {
      transform: scale(1.05);
    }
  }

  a#urlLink {
    position: absolute;
    right: 115px;
    bottom: 65px;
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    background: blueviolet;
    border-radius: 25px;
    font-size: 1.2rem;
    box-shadow: 0 0 0 0 #3b324a;
    animation: pulse 1.3s infinite;
  }
  @keyframes pulse {
    to {
        box-shadow: 0 0 0 20px transparent;
    }
}
}

h3 {
  font-family: 'Poiret One', sans-serif;
  font-size: 5rem;
  margin-bottom: 30px;
  color: gray;
  width: fit-content;
  /* padding: 0px 20px; */
  // transform: rotate(-90deg);
}

section#tools {
  // background: white;
  background: url('./../../../assets/img/PatternT.svg'), white;
  background-attachment: fixed;
  color: black;
  padding: 5%;
  #toolsList {
    color: snow;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #904e95 51%, #e96443 100%);
    flex-grow: 1;
    height: fit-content;
    flex-wrap: wrap;
    box-shadow: 2px 3px 9px 1px #5e5e5e;
    span {
      display: inline-block;
      margin: 15px;
      padding: 10px 20px;
      font-size: 25px;
    }
  }
}

#scroller {
  section {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
section#description {
  // margin: 80px auto;
  padding: 0 10%;
  #descProject {
    display: flex;
  }
  p {
    width: 70%;
    margin: auto;
    line-height: 1.6;
    white-space: pre-line;
    font-size: 30px;
    text-align: justify;
  }
}

section#objectives{
  li {
    width: 70%;
    margin: auto;
    line-height: 1.6;
    white-space: pre-line;
    font-size: 30px;
    text-align: justify;
  }
  #descObjectives {
    h3 {
      text-align: right;
    }
  }
}

section#responsive {
  overflow: hidden;
  .wrapper {
    margin: 50px auto;
    width: 85%;
    height: 500px;
    display: flex;
    position: relative;
    .text {
      width: 40%;
      position: relative;
      p {
        background: linear-gradient(to right, #904e95 51%, #e96443 100%);
        box-shadow: 2px 2px 12px 2px #2e2e2e;
        position: absolute;
        left: 20%;
        top: 50%;
        z-index: 10;
        height: 45%;
        width: 100%;
        // margin: 10%;
        font-family: 'Poiret One', sans-serif;
        font-size: 3.7rem;
        line-height: 1.3;
      }
    }
    .slider-dots {
      height: 100%;
      position: absolute;
      z-index: 10;
      right: -5%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .dot {
        width: 4rem;
        height: 4rem;
        // background: white;
        // color: #0B3948;
        // border: 5px solid $color-primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #4f4f4f;
        border: none;
        background: #242432;
        box-shadow: 10px 10px 20px #171721, -10px -10px 20px #313144;
        &.active {
          // background-color: $color-primary;

          background: radial-gradient(#e96443 20%, #904e95 70%);
          // color: white;
          color: floralwhite;
        }
        span {
          font-size: 2rem;
        }
      }
    }
    .slider {
      width: 50%;
      position: relative;
      overflow: hidden;
      #wrapper {
        display: flex;
        width: 300%;
        height: 100%;
        background: white;
        animation: responsiveSliderAnim 6s ease-in-out infinite alternate;
        // transition: transform 2s;
        transform: translateX(-66.66%);
        .imgResponsive {
          // position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: white;
          img {
            max-width: 75%;
            max-height: 75%;
          }
        }
      }
    }
  }
}

@keyframes responsiveSliderAnim {
  0% {transform: translateX(0);}
  50% {transform: translateX(-33%);}
  100% {transform: translateX(-66%);}
}

section#footer {
  position: relative;
  height: 200px;
  .navOtherProject {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.nextProject {
      right: 0;
    }
    button {
      width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      span {
        font-size: 4rem;
      }
    }
    img {
      width: 10vw;
    }
  }
}
