*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-primary: #0B3948;
// $color-secondary: #E07A5F;
// $color-secondary: #e6937d;
$color-secondary: #dc5a37;

$font-text: 'Mulish', sans-serif;
$font-titles: 'Oswald', sans-serif;

body {
  font-family: $font-text;
}
