*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-primary: #242432;
$color-secondary: #dc5a37;

$font-text: 'Montserrat', sans-serif;
$font-titles: 'Poiret One', cursive;

html {
  font-size: 62.5%;
}

body {
  font-family: $font-text;
}

a.linkUrl {
  color: lightcoral !important;
}
