<div id="home">

  <app-menu></app-menu>

  <div id="homePage" *ngIf="isMenuShowed" #homePage @animationHomePage>
    <div id="welcomeText">
      <h2><span>Bienvenue</span><br>sur mon portfolio !</h2>
      <p>Je suis developpeuse web, passionnée par le front-end<br>
        Je réalise des sites responsive et en phase avec les normes d’accessibilité.</p>
      <p>Laissez-moi vous présenter mes projets et vous en dire un peu plus sur moi</p>

      <div class="homeButtons">

        <div class="nav navPortfolio">
          <div class="arrowAndText">
            <span class="text">c'est par ici</span>
            <span class="material-icons">reply</span>
          </div>
          <button type="button" class="btn-grad" routerLink="/portfolio">Voir mes projets</button>
        </div>

        <div class="nav navInfo">
          <div class="arrowAndText">
            <span class="material-icons">reply</span>
            <span class="text">c'est là</span>
          </div>
          <button type="button" class="btn-simple" routerLink="/about">En savoir plus</button>
        </div>
      </div>

    </div>
    <div class="img">
      <img class="clip1" srcset="/assets/img/homeBig.jpg 1900w, /assets/img/home.jpg 640w" sizes="75vw" src="/assets/img/homeBig.jpg" alt="ordinateur portable avec un fond d'écran coloré">
      <img class="clip2" srcset="/assets/img/homeBig.jpg 1900w, /assets/img/home.jpg 640w" sizes="75vw" src="/assets/img/homeBig.jpg" alt="ordinateur portable avec un fond d'écran coloré">
      <img class="clip3" srcset="/assets/img/homeBig.jpg 1900w, /assets/img/home.jpg 640w" sizes="75vw" src="/assets/img/homeBig.jpg" alt="ordinateur portable avec un fond d'écran coloré">
    </div>
  </div>

</div>
