<div id="home">

  <div id="avatar" #avatar @animationAvatar *ngIf="!isMenuShowed" >
    <p class="textHello" #textHello>Hello</p>
    <img class="avatarImg" src="./../../assets/img/Avatar.svg" alt="">
    <p class="textWorld" #textWorld>World !</p>
  </div>

  <div id="homePage" *ngIf="isMenuShowed" #homePage @animationHomePage>
    <div id="welcomeText">
      <h2><span>Bienvenue</span><br>sur mon portfolio</h2>
      <p>installez-vous confortablement, et laissez-moi vous présenter mes projets web.<br>
      de l'intégration de maquettes au développement full-stack, ils sont toujours responsives et accessibles</p>
      <button type="button" class="btn-grad">Voir mes projets</button>
    </div>
    <div class="img">
      <img class="clip1" src="./../../assets/img/home.jpg" alt="">
      <img class="clip2" src="./../../assets/img/home.jpg" alt="">
      <img class="clip3" src="./../../assets/img/home.jpg" alt="">
    </div>
  </div>

</div>
